html {
  font-size: 62.5%; /*Standard size for fonts*/
  box-sizing: border-box; /*Better handling of ui elements*/
}

body,
#root {
  height: 100vh; /*Occupy full space*/
  margin: 0;
}

body,
input,
button,
select,
textarea {
  font-size: 1.6em; /*16 pixel*/
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5em 1fr 5em; /* 5em = 50 px, Fist one for header and last one is for footer*/
  grid-template-columns: 1fr;
  height: 100%; /*occupy full space*/
}

header {
  grid-area: header;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  color: #ffffff;
  display: flex;
  align-items: center; /*Vertical align*/
  padding: 0.5rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  color: #ffffff;
  display: flex; /*Make all rightts reserved to appear at the center part of the footer*/
  justify-content: center; /*Horizontal Align*/
  align-items: center; /*Vertical Align*/
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}

/*-------------------- Products --------------------------*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.products li {
  flex: 0 1 29rem;
  height: 47;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 0.1rem solid rgba(000, 000, 000, 10%);
}
.product img {
  max-width: 37rem;
  max-height: 37rem;
  padding-left: 5rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button:hover {
  border: 0.1rem #000000;
}

.button.primary {
  background-color: #ffc040;
}
